<header class="margin-block-start-double">
  <h2 class="divider txt-large"><%= t("account.export.title") %></h2>
  <p class="margin-none-block"><%= t("account.export.description") %></p>
</header>

<div data-controller="dialog" data-dialog-modal-value="true">
  <button type="button" class="btn" data-action="dialog#open"><%= t("account.export.button") %></button>

  <dialog class="dialog panel panel--wide shadow" data-dialog-target="dialog">
    <h2 class="margin-none txt-large"><%= t("account.export.dialog_title") %></h2>
    <p class="margin-none-block-start"><%= t("account.export.dialog_body_1") %></p>
    <p><%= t("account.export.dialog_body_2") %></p>

    <div class="flex gap justify-center">
      <%= button_to t("account.export.start_button"), account_exports_path, method: :post, class: "btn btn--link", form: { data: { action: "submit->dialog#close" } } %>
      <button type="button" class="btn" data-action="dialog#close"><%= t("account.export.cancel") %></button>
    </div>
  </dialog>
</div>