<% @page_title = t("account.settings.title") %>

<% content_for :header do %>
  <h1 class="header__title">
    <%= @page_title %>
    <% unless Current.user.admin? %>
      <div class="txt-normal font-weight-normal"><%= t("account.settings.subtitle") %></div>
    <% end %>
  </h1>
<% end %>

<section class="settings margin-block-start-half">
  <div class="settings__panel settings__panel--users panel shadow center">
    <%= render "account/settings/name", account: @account %>
    <%= render "account/settings/users", users: @users %>
  </div>

  <div class="settings__panel settings__panel--entropy panel shadow center">
    <%= render "account/settings/entropy", account: @account %>
    <%= render "account/settings/export" %>
    <%= render "account/settings/cancellation" %>
  </div>
</section>

<%= render "account/settings/subscription_panel" if Fizzy.saas? %>
