<% @page_title = t("signups.join_codes.code_inactive.title") %>

<div class="panel panel--centered flex flex-column gap-half">
  <h1 class="txt-x-large font-weight-black margin-none"><%= @page_title %></h1>

  <p class="txt-medium margin-none"><%= t("signups.join_codes.code_inactive.message_1") %> <%= @join_code.account.name %> <%= t("signups.join_codes.code_inactive.message_2") %></p>

  <p class="txt-medium">
    <%= link_to t("common.buttons.done"), "https://www.fizzy.do", class: "btn btn--link" %>
  </p>
</div>

<% content_for :footer do %>
  <%= render "sessions/footer" %>
<% end %>
