<%= turbo_frame_tag @board, :publication do %>
  <header>
    <h2 class="divider txt-large"><%= t("boards.publication.title") %></h2>
    <div><%= t("boards.publication.description") %></div>
  </header>

  <% if board.published? %>
    <div class="border-radius pad fill-selected">
      <div class="flex-inline center justify-between gap">
        <span class="txt-large"><%= icon_tag "lock" %></span>
        <label class="switch flex align-center justify-between">
          <%= form_with url: board_publication_path(board), method: :delete, data: { controller: "form" } do |form| %>
            <%= form.check_box :published, class: "switch__input", checked: true, data: { action: "change->form#submit" }, disabled: !Current.user.can_administer_board?(@board) %>
            <span class="switch__btn round"></span>
            <span class="for-screen-reader"><%= t("boards.publication.turn_off") %></span>
          <% end %>
        </label>
        <span class="txt-large"><%= icon_tag "world" %></span>
      </div>

      <div class="flex align-center gap-half margin-block">
        <%= text_field_tag :publication_url, published_board_url(board), readonly: true, class: "full-width input fill-white" %>
        <div class="flex align-center justify-center gap-half">
          <%= button_to_copy_to_clipboard(published_board_url(board)) do %>
            <%= icon_tag "copy-paste" %>
            <span class="for-screen-reader"><%= t("boards.publication.copy_link") %></span>
          <% end %>
        </div>
      </div>
      <strong class="margin-block-end-half flex justify-center txt-small"><%= t("boards.publication.description_label") %></strong>
      <div class="border-radius input fill-white">
        <%= form_with model: board, class: "txt-align-start", data: { controller: "form", turbo_frame: "_top" } do |form| %>
          <%= form.rich_textarea :public_description, class: "rich-text-content txt-small",
            placeholder: t("boards.publication.description_placeholder"),
            data: { action: "keydown.ctrl+enter->form#submit:prevent keydown.meta+enter->form#submit:prevent keydown.esc->form#cancel:stop" },
            readonly: !Current.user.can_administer_board?(@board) %>
          <%= form.button t("boards.edit.submit"), type: :submit, class: "btn txt-small", title: "#{t("boards.edit.submit")} (#{ hotkey_label(["ctrl", "enter"]) })" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="border-radius pad fill-shade">
      <div class="flex-inline center justify-between gap">
        <span class="txt-large"><%= icon_tag "lock" %></span>
        <label class="switch flex align-center justify-between">
          <%= form_with url: board_publication_path(board), method: :post, data: { controller: "form" } do |form| %>
            <%= form.check_box :published, class: "switch__input", checked: false, data: { action: "change->form#submit" }, disabled: !Current.user.can_administer_board?(@board) %>
            <span class="switch__btn round"></span>
            <span class="for-screen-reader"><%= t("boards.publication.turn_on") %></span>
          <% end %>
        </label>
        <span class="txt-large"><%= icon_tag "world" %></span>
      </div>
    </div>
  <% end %>
<% end %>
