<% @page_title = t("account.join_codes.title") %>

<% content_for :header do %>
  <div class="header__actions header__actions--start">
    <%= back_link_to t("account.settings.title"), account_settings_path, "keydown.left@document->hotkey#click keydown.esc@document->hotkey#click" %>
  </div>
<% end %>

<div class="panel panel--wide shadow center flex flex-column gap" style="view-transition-name: <%= dom_id(@join_code) %>">
  <header>
    <h2 class="txt-large margin-none font-weight-black"><%= @page_title %></h2>
    <p class="txt-medium margin-none"><%= t("account.join_codes.description") %></p>
  </header>

  <% url = join_url(code: @join_code.code, script_name: Current.account.slug) %>
  <div class="flex align-center gap-half">
    <input type="text" class="input flex-item-grow" value="<%= url %>" readonly>

    <% if Current.user.admin? %>
      <%= button_to account_join_code_path, method: :delete, class: "btn btn--circle txt-small", data: {
            turbo_confirm: t("account.join_codes.generate_confirm") } do %>
        <%= icon_tag "refresh" %>
        <span class="for-screen-reader"><%= t("account.join_codes.generate_new") %></span>
      <% end %>
    <% end %>
  </div>

  <div class="center flex flex-wrap justify-center align-center gap">
    <%= tag.button class: "btn btn--link", data: {
          controller: "copy-to-clipboard", action: "copy-to-clipboard#copy",
          copy_to_clipboard_success_class: "btn--success", copy_to_clipboard_content_value: url } do %>
      <%= icon_tag "copy-paste" %>
      <span class="txt-nowrap"><%= t("account.join_codes.copy_link") %></span>
    <% end %>

    <div data-controller="dialog" data-dialog-modal-value="true" class="flex-inline">
      <%= tag.button class: "btn", data: { action: "dialog#open" } do %>
        <%= icon_tag "qr-code" %>
        <span><%= t("account.join_codes.get_qr") %></span>
      <% end %>

      <dialog class="dialog panel shadow" data-dialog-target="dialog" style="--panel-size: 50ch;">
        <p class="margin-none-block-start txt-balance">
          <strong><%= t("account.join_codes.qr_instruction") %></strong>
        </p>

        <%= qr_code_image(url) %>

        <form method="dialog" class="margin-block-start flex justify-center">
          <button class="btn">
            <span><%= t("account.join_codes.done") %></span>
          </button>
        </form>
      </dialog>
    </div>
  </div>

  <footer class="txt-small">
    <hr class="separator--horizontal full-width margin-block" style="--border-color: var(--color-ink-lighter)">

    <p class="margin-none <%= "txt-negative" if !@join_code.active? %>">
      <%= t("account.join_codes.used_times") %> <%= @join_code.usage_count %>/<%= @join_code.usage_limit %> <%= t("account.join_codes.times") %>
      (<%= @join_code.active? ? @join_code.usage_limit - @join_code.usage_count : t("account.join_codes.none") %> <%= t("account.join_codes.remaining") %>)

      <% if Current.user.admin? %>
        <%= link_to edit_account_join_code_path, class: @join_code.active? ? "txt-link" : "txt-negative txt-underline" do %>
          <span><%= t("account.join_codes.change_limit") %></span>
        <% end %>
      <% end %>
    </p>
  </footer>
</div>
