<%= collapsible_nav_section t("navigation.settings") do %>
  <%= filter_place_menu_item account_settings_path, t("navigation.account_settings"), "settings" %>
  <%= filter_place_menu_item user_path(Current.user), t("navigation.my_profile"), "person" %>
  <%= filter_place_menu_item notifications_path, t("navigation.all_notifications"), "bell" %>
  <%= filter_place_menu_item notifications_settings_path, t("navigation.notification_settings"), "settings" %>

  <%= tag.li class: "popup__item", data: { filter_target: "item", navigable_list_target: "item" } do %>
    <%= icon_tag "logout", class: "popup__icon" %>
    <%= button_to session_path(script_name: nil), method: :delete, class: "popup__btn btn", data: { turbo: false } do %>
      <span><%= t("navigation.sign_out") %></span>
    <% end %>
  <% end %>
<% end %>
