<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/shared/head" %>

  <body class="public" data-controller="local-time timezone-cookie" data-action="turbo:morph@window->local-time#refreshAll">
    <header class="header" id="header">
      <a href="#main" class="header__skip-navigation btn" data-turbo="false"><%= t("layouts.skip_to_content") %></a>
      <nav>
        <%= link_to root_path, class: "header__logo center flex-inline align-center" do %>
          <span><%= image_tag "logo.png" %></span>
          <svg height="30" viewBox="0 0 110 30" width="110" xmlns="http://www.w3.org/2000/svg"><text x="0" y="23" font-family="system-ui, -apple-system, sans-serif" font-size="22" font-weight="900" fill="currentColor">CHIPVN</text></svg>
        <% end %>
      </nav>

      <%= yield :header %>
    </header>

    <%= render "layouts/shared/flash" %>

    <main id="main">
      <%= yield %>
    </main>

    <footer id="footer">
      <%= yield :footer %>
    </footer>
  </body>
</html>
